.option-btn{
    margin: 0 auto;
    max-width: 640px;
    position: fixed; bottom: 0; left: 0; right: 0;
    display: flex;
    border-top: 1px solid #ddd;
}
.option-btn__item{
    flex: 1;
    display: block;
    height: 40px; line-height: 40px;
    text-align: center;
    background: #ccc;
}